body{
    /* color: plum; */
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
.jumbotron{
    text-align: center;   
}

.main{
    background-image: url('../images/Safe-Water-in-Northern-Ghana-702x336.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    height: 70vh;
}

.main >h1{
    text-align: center;
    color:white;
    text-transform: uppercase;
    padding: 36px;
    font-weight: 600;
} 

.welcome{
    padding: 20px;    
}
.welcome h1>span{
    color: orange;
    font-weight: 600;
    text-transform: uppercase;
    font-size: 60px;
}

.welcome >p{
    font-size: 20px;
    line-height: 1.8em; 
    letter-spacing: 2px;   
}
.welcome >h3{
    color: darkorange;
    text-decoration: underline;

}





#footer{
    background-color: rgb(104, 100, 100);
}

#Copyright>a{
    color: white;
}