
.jumbotron{
    text-align: center;
   
}

.main{
    background-image: url('../images/Safe-Water-in-Northern-Ghana-702x336.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    height: 70vh;
}

.main >h1{
    text-align: center;
    color:white;
    text-transform: uppercase;
    padding: 50px;
    font-weight: 600;
} 





#footer{
    background-color: rgb(104, 100, 100);
}

#Copyright>a{
    color: white;
}